table {
    width: 100%;
  }
  .img-prueba{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .breadcrumb-item{
    color:blue;
  }
  
  .breadcrumb-item:hover{
    color: cornflowerblue;
    cursor: pointer;
  }
