<!-- <div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Iniciar Sesión</h3>
			</div>
			<div class="card-body">
				<form [formGroup]="loginForm"  (ngSubmit)="login(loginForm.value)">

					<div class="form-control-group col-12">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input class="form-control" formControlName="usuario" type="text" placeholder="Nombre de usuario">
						</div>
						<div>
							<mat-error *ngIf="loginForm.get('usuario').hasError('required') 
												&& loginForm.get('usuario').dirty"
							class="error">Este campo es requerido</mat-error>
						</div>
					</div>

					<div class="form-control-group col-12 mt-4 mb-4">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input class="form-control" formControlName="clave" type="password" placeholder="Clave">
						</div>
						<div>
							<mat-error *ngIf="loginForm.get('clave').hasError('required')
							&& loginForm.get('clave').dirty"
							class="error">Este campo es requerido</mat-error>
						</div>
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Recuerdame
					</div>
					<div class="form-group">
						<input type="submit" value="Ingresar" class="btn float-right login_btn"
							[disabled]="loginForm.status !== 'VALID' || submit === true">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					¿No tienes cuenta?<a [routerLink]="['/registro']" routerLinkActive="router-link-active" >Registrate</a>
				</div>
				<div class="d-flex justify-content-center">
					<a  [routerLink]="['/recuperar-contrasena']">¿Olvidaste tu contraseña?</a>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Iniciar Sesión</h1>
                </div>
                <form [formGroup]="loginForm"  (ngSubmit)="login(loginForm.value)">
                  <div class="form-group">
                    <div class="mt-1">
                    </div>
                  </div>
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Usuario</mat-label>
                    <input type="email" matInput
                      formControlName="usuario" type="text" >
                      <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="loginForm.get('usuario').hasError('required') 
                                && loginForm.get('usuario').dirty"
                      class="error-form">Este campo es requerido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Clave</mat-label>
                    <input type="email" matInput [type]="hide ? 'password' : 'text'" 
                    formControlName="clave" type="password" >
                    <button  type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    <mat-error *ngIf="loginForm.get('clave').hasError('required') 
                                && loginForm.get('clave').dirty"
                      class="error-form">Este campo es requerido</mat-error>
                  </mat-form-field>
                  <button
                  type="submit" class="btn btn-primary btn-user btn-block"
                  [disabled]="loginForm.status !== 'VALID'">
                    Ingresar
                </button>
                  <!-- <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Inicia sesión con Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Inicia sesión con Facebook
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block"
                  style="background-color: #2d2d2d;">
                    <i class="fab fa-github fa-fw"></i> Inicia sesión con Github
                  </a> -->
                  <hr>
                </form>
                <div class="text-center">
                  <a class="small" [routerLink]="['/recuperar-contrasena']">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="text-center">
                  <a class="small" [routerLink]="['/registro']">Crear una cuenta</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  