<div class="row" >
  <div class="col-12 row mb-3" *ngIf="detalle">
    <div class="col-4">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Color</mat-label>
        <input matInput type="text" [value]="detalle.color">
      </mat-form-field>
    </div>
    <div class="col-4" *ngIf="colores">
      <mat-form-field appearance="outline">
        <mat-label>Colores del texto</mat-label>
        <mat-select >
          <mat-option *ngFor="let color of colores" [value]="color">
            {{color}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4" *ngIf="textos">
      <mat-form-field appearance="outline">
        <mat-label>Textos</mat-label>
        <mat-select >
          <mat-option *ngFor="let texto of textos" [value]="texto">
            {{texto}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4" *ngIf="detalle">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Tamaño</mat-label>
        <input matInput type="text" [value]="detalle.tamano_nombre">
      </mat-form-field>
    </div>
    <div class="col-4" *ngIf="fonts">
      <mat-form-field appearance="outline">
        <mat-label>Fonts</mat-label>
        <mat-select >
          <mat-option *ngFor="let font of fonts" [value]="font">
            {{font}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div class="col-4">
      <mat-form-field appearance="outline">
        <mat-label>Imágenes Subidas</mat-label>
        <mat-select (selectionChange)="descargarImg($event.value)">
          <mat-option *ngFor="let img of imagenes_subidas" [value]="img">
            {{img}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col-4 mb-2" *ngFor="let img of imagenes"><img [src]="url_api+img" alt="" class="img"></div>
  <!-- <div class="text-center col-12 mt-3">
    <button mat-raised-button>Mas Información</button>
  </div> -->
</div>